.navbar {
  width: 100%;

  padding: var(--space-medium) var(--space-x-large);
  background: #355e85;
  background: #262828;
  background: #262828;
  background: linear-gradient(180deg, rgba(38, 40, 40, 1) 0%, #575757 100%);

  display: flex;
  flex-direction: column;
}
.navbarTopRow {
  display: flex;
  justify-content: space-between;
}
.logoContainer {
  display: flex;
  gap: var(--space-small);
}

.logo img {
  width: 36px;
  height: auto;
}
.siteLogoContainer {
  display: flex;
  text-align: center;
}

.siteLogoContainer h1 {
  font-size: var(--large-font-size);
  color: var(--text-light);
}
.userToolsContainer {
  display: flex;
  gap: var(--space-small);
}

.searchContainer {
  display: flex;
}

.searchIcon img {
  height: 32px;
}
.searchInput {
  height: var(--large-font-size);
  padding: 0 var(--space-small);
}

.userTools {
  display: flex;
  gap: var(--space-small);
}

.userTools img {
  height: 32px;
}

.userIcon {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.signInButton {
  height: 32px;
  width: 80px;
  font-size: 18px;
  padding: 0 var(--space-small);
}

.signOutButton {
  height: 32px;
  width: 80px;
  padding: 0 var(--space-small);
}

/* --------------------- */

.linksContainerDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-large);
  font-size: var(--medium-font-size);
}
.hamburgerMenuContainer {
  display: none;
}

.linksContainerMobile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-large);
  font-size: var(--medium-font-size);
  border-radius: none;
  background-color: var(--primary-color);
}

.linksContainerMobile a {
  color: var(--text-light);
}

.linksContainerDesktop a {
  color: var(--text-light);
}
.linksContainerDesktop > .activeLink {
  border-bottom: 2px solid var(--text-light);
  transition: all 0.3s;
}

.linksContainerMobile > .activeLink {
  border-bottom: 2px solid var(--text-light);
  transition: all 0.3s;
}

.closeLinksModalButton {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  color: var(--text-light);
}

@media screen and (max-width: 555px) {
  .navbar {
    padding: var(--space-medium) var(--space-small);
  }
  .linksContainerDesktop {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 440px) {
  .linksContainerDesktop {
    display: none;
  }
  .hamburgerMenuContainer {
    display: block;
  }
}
