.navbar {
  width: 100%;

  padding: var(--space-medium) var(--space-x-large);
  background: #355e85;
  background: #262828;
  background: #262828;
  background: linear-gradient(180deg, rgba(38, 40, 40, 1) 0%, #575757 100%);

  display: flex;
  flex-direction: column;
}
.navbarTopRow {
  display: flex;
  justify-content: space-between;
}
.logoContainer {
  display: flex;
  gap: var(--space-small);
}

.logo img {
  width: 36px;
  height: auto;
}
.siteLogoContainer {
  display: flex;
  text-align: center;
}

.siteLogoContainer h1 {
  font-size: var(--large-font-size);
  color: var(--text-light);
}
.userToolsContainer {
  display: flex;
  gap: var(--space-small);
}

.searchContainer {
  display: flex;
}

.searchIcon img {
  height: 32px;
}
.searchInput {
  height: var(--large-font-size);
  padding: 0 var(--space-small);
}

.userTools {
  display: flex;
  gap: var(--space-small);
}
.userTools img {
  height: 32px;
}

.signInButton {
  height: 32px;
  width: 80px;
  font-size: 18px;
  padding: 0 var(--space-small);
}

.signOutButton {
  height: 32px;
  width: 80px;
  padding: 0 var(--space-small);
}

/* --------------------- */

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-large);
  font-size: var(--medium-font-size);
}

.linksContainer a {
  color: var(--text-light);
}

.activeLink {
  border-bottom: 2px solid var(--text-light);
  transition: all 0.3s;
}
